/Makefile
/Makefile.in
/deprecated
/libgimpwidgets3.args
/libgimpwidgets3.hierarchy
/libgimpwidgets3.interfaces
/libgimpwidgets3.prerequisites
/libgimpwidgets3.signals
/libgimpwidgets3-decl.txt
/libgimpwidgets3-decl-list.txt
/libgimpwidgets3-unused.txt
/libgimpwidgets3-undeclared.txt
/libgimpwidgets3-undocumented.txt
/html
/xml
/.libs
/*.bak
/*.stamp
