/Makefile
/Makefile.in
/deprecated
/libgimpwidgets.args
/libgimpwidgets.hierarchy
/libgimpwidgets.interfaces
/libgimpwidgets.prerequisites
/libgimpwidgets.signals
/libgimpwidgets-decl.txt
/libgimpwidgets-decl-list.txt
/libgimpwidgets-unused.txt
/libgimpwidgets-undeclared.txt
/libgimpwidgets-undocumented.txt
/html
/xml
/version
/.libs
/*.bak
/*.stamp
