/Makefile
/Makefile.in
/deprecated
/libgimpthumb3.args
/libgimpthumb3.hierarchy
/libgimpthumb3.interfaces
/libgimpthumb3.prerequisites
/libgimpthumb3.signals
/libgimpthumb3-decl.txt
/libgimpthumb3-decl-list.txt
/libgimpthumb3-unused.txt
/libgimpthumb3-undeclared.txt
/libgimpthumb3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
