/Makefile
/Makefile.in
/deprecated
/libgimpthumb.args
/libgimpthumb.hierarchy
/libgimpthumb.interfaces
/libgimpthumb.prerequisites
/libgimpthumb.signals
/libgimpthumb-decl.txt
/libgimpthumb-decl-list.txt
/libgimpthumb-unused.txt
/libgimpthumb-undeclared.txt
/libgimpthumb-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
