image: debian:testing

stages:
  - gimp

variables:
  INSTALL_DIR: "_install"
  INSTALL_PREFIX: "${CI_PROJECT_DIR}/${INSTALL_DIR}"

cache:
  paths:
  - /var/cache/apt

# build-min-autotools:
#   extends: .gimp-autotools
#   dependencies:
#     - babl-git
#     - gegl-git

# build-min-meson:
#   extends: .gimp-meson
#   dependencies:
#     - babl-min
#     - gegl-min

.gimp-x86_64-w64-mingw32-base:
  stage: gimp
  artifacts:
    paths:
    - "${INSTALL_DIR}"
  before_script:
    - apt-get update
    - apt-get install --yes --no-install-recommends
        bash
        build-essential
        cmake
        ninja-build
        ca-certificates
        git
        mingw-w64
        python-docutils
        python3-pip
        python3-setuptools
    - pip3 install wheel
    - echo $SHELL
    #- pip3 install crossroad
    - git clone git://git.tuxfamily.org/gitroot/crossroad/crossroad.git
    - cd crossroad
    - ./setup.py install
    - cd ..

build-git-x86_64-w64-mingw32-meson:
  extends: .gimp-x86_64-w64-mingw32-base
  script:
    - crossroad --verbose w64 gimp --run="build/windows/crossbuild-gitlab-ci.sh"
  artifacts:
    name: "app-tests-logs-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: on_failure
    expire_in: 1 week
    paths:
      - _build/
