/.anjuta/
/.anjuta_sym_db.db
/TODO.tasks
*.anjuta
*.c~
*.h~
*.patch


=======
*.la
*.lo
*.o
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/depcomp
/gimp-2.0.pc
/gimp-zip
/gimpthumb-2.0.pc
/gimpui-2.0.pc
/gtk-doc.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-modules
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/py-compile
/stamp-h
/stamp-h.in
/stamp-h1
