/Makefile
/Makefile.in
/.libs
/deprecated
/app.args
/app.hierarchy
/app.interfaces
/app.prerequisites
/app.signals
/app-decl.txt
/app-decl-list.txt
/app-unused.txt
/app-undeclared.txt
/app-undocumented.txt
/html
/tmpl
/xml
/version
/*.bak
/*.stamp
