/.dirstamp
/*.la
/*.lo
/.deps
/.libs
/Makefile
/Makefile.in
/_libs
/gimp-color-picker-cursors.c
/gimp-color-picker-cursors.h
/gimp-icon-pixbufs.c
/gimp-icon-pixbufs.h
/gimpwidgetsmarshal.c
/gimpwidgetsmarshal.h
/makefile.mingw
/test-eevl*
/test-preview-area
/*.trs
/*.log
/xgen-wec
