/.dirstamp
/*.la
/*.lo
/.deps
/.libs
/Makefile
/Makefile.in
/_libs
/ligma-color-picker-cursors.c
/ligma-color-picker-cursors.h
/ligma-icon-pixbufs.c
/ligma-icon-pixbufs.h
/ligmawidgetsmarshal.c
/ligmawidgetsmarshal.h
/makefile.mingw
/test-eevl*
/test-preview-area
/*.trs
/*.log
/xgen-wec
