/libgimpwidgets-unused.sgml
/*.bak
/gimpbrowser.sgml
/gimpbutton.sgml
/gimpcairo-utils.sgml
/gimpcellrenderercolor.sgml
/gimpcellrenderertoggle.sgml
/gimpchainbutton.sgml
/gimpcolorarea.sgml
/gimpcolorbutton.sgml
/gimpcolordisplay.sgml
/gimpcolordisplaystack.sgml
/gimpcolorhexentry.sgml
/gimpcolornotebook.sgml
/gimpcolorprofilecombobox.sgml
/gimpcolorprofilestore.sgml
/gimpcolorscale.sgml
/gimpcolorscales.sgml
/gimpcolorselect.sgml
/gimpcolorselection.sgml
/gimpcolorselector.sgml
/gimpcontroller.sgml
/gimpdialog.sgml
/gimpenumcombobox.sgml
/gimpenumlabel.sgml
/gimpenumstore.sgml
/gimpenumwidgets.sgml
/gimpfileentry.sgml
/gimpframe.sgml
/gimphelpui.sgml
/gimphintbox.sgml
/gimpintcombobox.sgml
/gimpintstore.sgml
/gimpmemsizeentry.sgml
/gimpnumberpairentry.sgml
/gimpoffsetarea.sgml
/gimpoldwidgets.sgml
/gimppageselector.sgml
/gimppatheditor.sgml
/gimppickbutton.sgml
/gimppixmap.sgml
/gimppreview.sgml
/gimppreviewarea.sgml
/gimppropwidgets.sgml
/gimpquerybox.sgml
/gimpruler.sgml
/gimpscrolledpreview.sgml
/gimpsizeentry.sgml
/gimpstringcombobox.sgml
/gimpunitcombobox.sgml
/gimpunitmenu.sgml
/gimpunitstore.sgml
/gimpwidgets.sgml
/gimpzoommodel.sgml
