/* Light variant for the Compact theme for LIGMA 3.0 */

@import url("../Default/ligma.css");

* {
  -LigmaToolPalette-tool-icon-size: small-toolbar;
}

toolpalette button {
  padding: 0px;
}

button, tab {
  padding: 0px;
}
