/Makefile
/Makefile.in
/deprecated
/libgimpmath3.args
/libgimpmath3-decl.txt
/libgimpmath3-decl-list.txt
/libgimpmath3.hierarchy
/libgimpmath3.interfaces
/libgimpmath3.prerequisites
/libgimpmath3.signals
/libgimpmath3-unused.txt
/libgimpmath3-undeclared.txt
/libgimpmath3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
