/Makefile
/Makefile.in
/deprecated
/libgimpmath.args
/libgimpmath-decl.txt
/libgimpmath-decl-list.txt
/libgimpmath.hierarchy
/libgimpmath.interfaces
/libgimpmath.prerequisites
/libgimpmath.signals
/libgimpmath-unused.txt
/libgimpmath-undeclared.txt
/libgimpmath-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
