/Makefile
/Makefile.in
/deprecated
/libgimpbase.args
/libgimpbase-decl.txt
/libgimpbase-decl-list.txt
/libgimpbase.hierarchy
/libgimpbase.interfaces
/libgimpbase.prerequisites
/libgimpbase.signals
/libgimpbase-unused.txt
/libgimpbase-undeclared.txt
/libgimpbase-undocumented.txt
/html
/tmpl
/xml
/version
/*.bak
/*.stamp
