/.deps
/.libs
/Makefile
/Makefile.in
/deprecated
/libgimpbase3.args
/libgimpbase3-decl.txt
/libgimpbase3-decl-list.txt
/libgimpbase3.hierarchy
/libgimpbase3.interfaces
/libgimpbase3.prerequisites
/libgimpbase3.signals
/libgimpbase3-unused.txt
/libgimpbase3-undeclared.txt
/libgimpbase3-undocumented.txt
/html
/tmpl
/xml
/*.bak
/*.stamp
