Source: gimp1.2
Priority: optional
Section: graphics
Maintainer: Ben Gertzfield <che@debian.org>
Standards-Version: 3.2.1
Build-Depends: aalib1-dev, libglib1.2-dev, libgtk1.2-dev, libgtkxmhtml-dev, libjpeg62-dev, libmpeg-dev, libpng2-dev, xpm4g-dev, zlib1g-dev, slang1-dev, xlib6g-dev, debhelper, libparse-recdescent-perl, libgtk-perl, pdl

Package: libgimp1.2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Conflicts: libgimp, libgimp1.1.1, libgimp1.1.2, libgimp1.1.3, libgimp1.1.4, libgimp1.1.5, libgimp1.1.6, libgimp1.1.7, libgimp1.1.8, libgimp1.1.9, libgimp1.1.10, libgimp1.1.12, libgimp1.1.13, libgimp1.1.14, libgimp1.1.15, libgimp1.1.16, libgimp1.1.17, libgimp1.1.18, libgimp1.1.19, libgimp1.1.22, libgimp1.1.24, libgimp1.1
Description: Libraries necessary to run the GIMP, version 1.2
 This package includes the developers' release of the libgimp and
 libgimpui libraries, necessary to run The GIMP, stable version 1.2.
 .
 It has been split off from the main gimp package in order to 
 facilitate easy development for packages that use libgimp and libgimpui,
 like SANE, the Scanner Access package for GIMP.

Package: gimp1.2
Architecture: any
Section: graphics
Conflicts: gimp-smotif, gimp-dmotif, gimp099, gimp-data-min, gimp, libgimp-perl, gimp1.1
Replaces: gimp-smotif, gimp-dmotif, gimp099, gimp-data-min, gimp, gimp1.1
Provides: gimp-data-min, gimp, gimp1.1
Depends: ${shlibs:Depends}
Suggests: freefont, sharefont, gimp1.2-nonfree, gimp-data-extras (>= 1:1.2.0), xfonts-100dpi, gimp1.2-perl
Recommends: xfonts-75dpi
Description: The GNU Image Manipulation Program, stable version 1.2
 The GIMP lets you draw, paint, edit images, and much more! GIMP
 includes the functionality and plug-ins of other famous image
 editing and processing programs.
 .
 This is the stable 1.2 version of GIMP. 
 .
 You ***MUST*** <--- (really!) have the xfonts-75dpi and xfonts-100dpi
 packages available on the X server, whether via files or via a font 
 server like xfs. The gimp package only Recommends: these packages because
 it's possible to have them served remotely, but you really should
 install them. :)

Package: gimp1.2-perl
Architecture: any
Section: graphics
Depends: ${perl:Depends}, libgtk-perl, pdl, gimp1.2 (>= ${Source-Version})
Conflicts: libgimp-perl, gimp1.1-perl
Replaces: libgimp1.1.15 (<< 1.1.15-2), gimp1.1 (<< 1.1.27), libgimp-perl, gimp1.1-perl
Description: Perl support and plugins for The GIMP
 This package includes the Perl modules necessary to write Perl-based
 plugins for The GIMP. It includes several plugins with various
 useful features.

Package: gimp1.2-nonfree
Architecture: any
Section: non-free/graphics
Depends: ${shlibs:Depends}
Conflicts: gimp1.1-nonfree
Replaces: gimp1.1-nonfree
Description: GIF and TIFF support for the GNU Image Manipulation Program
 This package includes the gif and tiff support for The GNU Image
 Manipulation Program. These files are not freely available; their
 use is disallowed by the UNISYS patent on LZW compression.
 .
 Use at your own legal risk.

Package: libgimp1.2-dev
Architecture: any
Section: devel
Depends: libgimp1.2 (= ${Source-Version}), libgtk1.2-dev, libglib1.2-dev
Conflicts: gimp (<< 1.1), libgimp-dev, libgimp1.1.1-dev, libgimp1.1.2-dev, libgimp1.1.3-dev, libgimp1.1.4-dev, libgimp1.1.5-dev, libgimp1.1.6-dev, libgimp1.1.7-dev, libgimp1.1.8-dev, libgimp1.1.9-dev, libgimp1.1.10-dev, libgimp1.1.12-dev, libgimp1.1.13-dev, libgimp1.1.14-dev, libgimp1.1.15-dev, libgimp1.1.16-dev, libgimp1.1.17-dev, libgimp1.1.18-dev, libgimp1.1.19-dev, libgimp1.1.22-dev, libgimp1.1.24-dev, libgimp1.1-dev
Replaces: libgimp-dev, libgimp1.1.1-dev, libgimp1.1.2-dev, libgimp1.1.3-dev, libgimp1.1.4-dev, libgimp1.1.5-dev, libgimp1.1.6-dev, libgimp1.1.7-dev, libgimp1.1.8-dev, libgimp1.1.9-dev, libgimp1.1.10-dev, libgimp1.1.12-dev, libgimp1.1.13-dev, libgimp1.1.14-dev, libgimp1.1.15-dev, libgimp1.1.16-dev, libgimp1.1.17-dev, libgimp1.1.18-dev, libgimp1.1.19-dev, libgimp1.1.22-dev, libgimp1.1.24-dev, libgimp1.1-dev
Description: Headers and other files for compiling plugins for The GIMP
 This package contains the header files for the GNU Image Manipulation
 Program, along with the static versions of libgimp and libgimpui.
 .
 Install this package if you wish to compile your own plugins,
 or if you wish to develop packages that use libgimp or libgimpui. 
