/Makefile
/Makefile.in
/deprecated
/libligma3.actions
/libligma3.args
/libligma3.hierarchy
/libligma3.interfaces
/libligma3.prerequisites
/libligma3.signals
/libligma3-decl.txt
/libligma3-decl-list.txt
/libligma3-unused.txt
/libligma3-undeclared.txt
/libligma3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
