/Makefile
/Makefile.in
/deprecated
/libgimp.args
/libgimp.hierarchy
/libgimp.interfaces
/libgimp.prerequisites
/libgimp.signals
/libgimp-decl.txt
/libgimp-decl-list.txt
/libgimp-unused.txt
/libgimp-undeclared.txt
/libgimp-undocumented.txt
/html
/xml
/version
/.libs
/*.bak
/*.stamp
