/Makefile
/Makefile.in
/deprecated
/libgimp3.args
/libgimp3.hierarchy
/libgimp3.interfaces
/libgimp3.prerequisites
/libgimp3.signals
/libgimp3-decl.txt
/libgimp3-decl-list.txt
/libgimp3-unused.txt
/libgimp3-undeclared.txt
/libgimp3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
