/Makefile
/Makefile.in
/deprecated
/libgimpcolor.args
/libgimpcolor-decl.txt
/libgimpcolor-decl-list.txt
/libgimpcolor.hierarchy
/libgimpcolor.interfaces
/libgimpcolor.prerequisites
/libgimpcolor.signals
/libgimpcolor-unused.txt
/libgimpcolor-undeclared.txt
/libgimpcolor-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
