/Makefile
/Makefile.in
/deprecated
/libgimpcolor3.args
/libgimpcolor3-decl.txt
/libgimpcolor3-decl-list.txt
/libgimpcolor3.hierarchy
/libgimpcolor3.interfaces
/libgimpcolor3.prerequisites
/libgimpcolor3.signals
/libgimpcolor3-unused.txt
/libgimpcolor3-undeclared.txt
/libgimpcolor3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
