/*.gmo
/*.mo
/*.pot
/boldquot.sed
/en@boldquot.header
/en@quot.header
/insert-header.sin
/quot.sed
/remove-potcdate.sin
/Makefile
/Makefile.in
/Makevars.template
/POTFILES
/Rules-quot
/messages
/missing
/po2tbl.sed.in
/stamp-it
