/Makefile
/Makefile.in
/deprecated
/libgimpconfig3.args
/libgimpconfig3-decl.txt
/libgimpconfig3-decl-list.txt
/libgimpconfig3.hierarchy
/libgimpconfig3.interfaces
/libgimpconfig3.prerequisites
/libgimpconfig3.signals
/libgimpconfig3-unused.txt
/libgimpconfig3-undeclared.txt
/libgimpconfig3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
