/Makefile
/Makefile.in
/.deps
/.libs
/*.lo
/*.a
/libappcomposite.la
/ns.pyc
/gimp-composite-test
/test-composite
/gimp-composite-3dnow-test
/gimp-composite-altivec-test
/gimp-composite-mmx-test
/gimp-composite-sse-test
/gimp-composite-sse2-test
/gimp-composite-vis-test
