/* LIGMA theme css file */

* {
    -gtk-icon-style:                   symbolic;
    -LigmaDockWindow-default-height:    300;
    -LigmaMenuDock-minimal-width:       200;
    -LigmaDockWindow-menu-preview-size: button;
    -LigmaToolPalette-tool-icon-size:   large-toolbar;
    -LigmaToolPalette-button-relief:    none;
    -LigmaDockbook-tab-icon-size:       button;
    -LigmaColorNotebook-tab-icon-size:  button;
    -LigmaDeviceEditor-handle-size:     12;
    -LigmaDockable-content-border:      2;
    -LigmaEditor-content-spacing:       2;
    -LigmaEditor-button-spacing:        2;
    -LigmaEditor-button-icon-size:      menu;
    -LigmaDataEditor-minimal-height:    96;
    -GtkDialog-content-area-border:    0;
    -GtkDialog-button-spacing:         6;
    -GtkDialog-action-area-border:     12;
    -LigmaUnitComboBox-appears-as-list: 0;
}

LigmaToolDialog {
    -GtkDialog-action-area-border: 6;
}

LigmaColorNotebook tab {
    padding: 0 0 0 0;
}

LigmaDock LigmaColorNotebook spinbutton,
LigmaDock LigmaColorNotebook spinbutton entry,
LigmaDock LigmaColorScales spinbutton,
LigmaDock LigmaColorScales spinbutton entry {
    min-height: 0;
}

LigmaColorSelection ColorselCmyk {
    padding: 2px 2px 2px 2px;
}

LigmaColorHistory button {
    padding: 3px 3px 3px 3px;
}

#ligma-color-tag-box button {
    padding: 4px 6px 4px 6px;
}

tab LigmaFgBgView {
    padding: 6px 6px 6px 6px;
}

LigmaFgBgEditor:active {
    border-width: 2px 2px 2px 2px;
}

LigmaDock {
    font-size: smaller;
}

LigmaDock notebook tab {
    padding: 0 0 0 0;
}

LigmaDock :not(toolbutton) > button,
LigmaOverlayDialog button,
LigmaToolDialog :not(headerbar) button,
LigmaTextStyleEditor button {
    padding: 0px 2px 0px 2px;
}

LigmaToolDialog headerbar {
    min-height: 0;
}

LigmaToolDialog headerbar button {
    padding: 2px 2px 2px 2px;
}

LigmaDock frame {
    -LigmaFrame-label-bold:       0;
    -LigmaFrame-label-spacing:    2;
}

LigmaDisplayShell grid > button {
    min-height: 0;
    min-width: 0;
    padding: 0 0 0 0;
}

LigmaDisplayShell combobox entry {
    font-size: smaller;
}

LigmaDisplayShell combobox button {
    font-size: smaller;
}

LigmaDisplayShell progressbar text {
    font-size: larger;
}

LigmaDisplayShell progressbar trough,
LigmaDisplayShell progressbar progress {
    min-height: 1em;
}

LigmaFileDialog progressbar trough,
LigmaFileDialog progressbar progress {
    min-width: 1px; /* hack */
    min-height: 1em;
}

LigmaRuler {
    font-size: smaller;
}

spinbutton entry {
    border-radius: 3px;
}

LigmaSpinScale entry {
    /* Important: prevent overhigh spin scale */
    min-height: 16px;
}

LigmaSpinScale entry progress {
    background-color: @theme_selected_bg_color;
    border-width:     0px;
    border-radius:    3px;
}

LigmaSpinScale button {
    /* Makes the +- buttons a bit more compact. */
    padding: 0 1px 0 1px;
}

entry.italic {
    font-style: italic;
}

.grid {
    /* why does this not work */
    color: rgba (1.0, 0.0, 0.0, 1.0);
}

treeview header button {
    padding: 6px;
}

treeview .toggle-icon:not(.visible):hover {
    border: 1px solid gray;
    border-radius: 3px;
}

treeview .toggle-icon:not(.visible):selected {
    border-color: lightgray;
}
