/* GIMP theme css file */

* {
/*
  stock["gtk-dialog-error"] =
    {
      { "images/stock-error-64.png", *, *, "gtk-dialog" }
    }
  stock["gtk-dialog-info"] =
    {
      { "images/stock-info-64.png", *, *, "gtk-dialog" }
    }
  stock["gtk-dialog-question"] =
    {
      { "images/stock-question-64.png", *, *, "gtk-dialog" }
    }
  stock["gtk-dialog-warning"] =
    {
      { "images/stock-warning-64.png", *, *, "gtk-dialog" }
    }
*/

    -GtkPaned-handle-size:             6;
    -GimpDockWindow-default-height:    300;
    -GimpDock-font-scale:              0.8333;
    -GimpMenuDock-minimal-width:       200;
    -GimpDockWindow-menu-preview-size: button;
    -GimpToolPalette-tool-icon-size:   button;
    -GimpToolPalette-button-relief:    none;
    -GimpDockbook-tab-icon-size:       button;
    -GimpColorNotebook-tab-icon-size:  button;
    -GimpDeviceEditor-handle-size:     12;
    -GimpDockable-content-border:      2;
    -GimpEditor-content-spacing:       2;
    -GimpEditor-button-spacing:        2;
    -GimpEditor-button-icon-size:      menu;
    -GimpDataEditor-minimal-height:    96;
    -GtkDialog-content-area-border:    0;
    -GtkDialog-button-spacing:         6;
    -GtkDialog-action-area-border:     12;
    -GimpUnitComboBox-appears-as-list: 0;
}

GimpToolDialog {
    -GtkDialog-action-area-border: 6;
}

GimpColorNotebook tab {
    padding: 0 0 0 0;
}

GimpDockbook tab {
    padding: 0 0 0 0;
}

GimpDockbook GtkButton {
    -GtkWidget-focus-padding: 0;
}

GimpDockable {
    -GimpFrame-label-bold:       0;
    -GimpFrame-label-spacing:    2;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding:    0;
}

GimpDisplayShell {
    -GimpRuler-font-scale:          0.8333;
    -GimpUnitComboBox-label-scale:  0.8333;
    -GimpScaleComboBox-label-scale: 0.8333;
    -GtkComboBox-arrow-size:        8;
    -GtkButton-inner-border:        0 0 0 0;
    -GtkWidget-focus-line_width:    0;
    -GtkWidget-focus-padding:       0;
}

GimpColorFrame {
    -GimpColorFrame-number-color: lighter (@bg_color);
}

GimpHistogramView {
    color: @text_color;
    background-color: @base_color;
    -GimpHistogramView-grid-color: darker (@bg_color);
    -GimpHistogramView-fg-color: @fg_color;
    -GimpHistogramView-fg-color-selected: @selected_fg_color;
    -GimpHistogramView-bg-color: mix (lighter (@bg_color),
				      darker (@bg_color), 0.5);
    -GimpHistogramView-bg-color-selected: mix (lighter (@selected_bg_color),
					       darker (@selected_bg_color), 0.5);
}

GimpHistogramView:selected {
    background-color: @selected_bg_color;
}

GimpOverlayFrame {
    -GtkButton-focus-line-width: 1;
}
