/Makefile
/Makefile.in
/deprecated
/libgimpmodule.args
/libgimpmodule.hierarchy
/libgimpmodule.interfaces
/libgimpmodule.prerequisites
/libgimpmodule.signals
/libgimpmodule-decl.txt
/libgimpmodule-decl-list.txt
/libgimpmodule-unused.txt
/libgimpmodule-undeclared.txt
/libgimpmodule-undocumented.txt
/html
/tmpl
/xml
/version
/.libs
/*.bak
/*.stamp
