/Makefile
/Makefile.in
/deprecated
/libgimpmodule3.args
/libgimpmodule3.hierarchy
/libgimpmodule3.interfaces
/libgimpmodule3.prerequisites
/libgimpmodule3.signals
/libgimpmodule3-decl.txt
/libgimpmodule3-decl-list.txt
/libgimpmodule3-unused.txt
/libgimpmodule3-undeclared.txt
/libgimpmodule3-undocumented.txt
/html
/tmpl
/xml
/.libs
/*.bak
/*.stamp
