/Makefile
/Makefile.in
/.deps
/.libs
/alien-map
/align-layers
/animation-optimize
/animation-play
/antialias
/apply-canvas
/blinds
/blur
/blur-gauss
/blur-gauss-selective
/blur-motion
/border-average
/bump-map
/cartoon
/channel-mixer
/checkerboard
/cml-explorer
/color-cube-analyze
/color-enhance
/color-exchange
/color-to-alpha
/colorify
/colormap-remap
/compose
/contrast-normalize
/contrast-retinex
/contrast-stretch
/contrast-stretch-hsv
/convolution-matrix
/crop-auto
/crop-zealous
/cubism
/curve-bend
/decompose
/deinterlace
/depth-merge
/despeckle
/destripe
/diffraction
/displace
/edge
/edge-dog
/edge-laplace
/edge-neon
/edge-sobel
/emboss
/engrave
/file-aa
/file-cel
/file-compressor
/file-csource
/file-desktop-link
/file-dicom
/file-gbr
/file-gif-load
/file-gif-save
/file-gih
/file-glob
/file-header
/file-html-table
/file-jp2-load
/file-mng
/file-pat
/file-pcx
/file-pdf
/file-pix
/file-png
/file-pnm
/file-ps
/file-psp
/file-raw
/file-sunras
/file-svg
/file-tga
/file-tiff-load
/file-tiff-save
/file-wmf
/file-xbm
/file-xpm
/file-xwd
/film
/filter-pack
/fractal-trace
/gee
/gee-zoom
/gradient-map
/grid
/guillotine
/hot
/illusion
/iwarp
/jigsaw
/lcms
/lens-apply
/lens-distortion
/lens-flare
/mail
/max-rgb
/mosaic
/newsprint
/nl-filter
/noise-hsv
/noise-randomize
/noise-rgb
/noise-solid
/noise-spread
/nova
/oilify
/photocopy
/pixelize
/plasma
/plugin-browser
/polar-coords
/procedure-browser
/qbist
/red-eye-removal
/ripple
/rotate
/sample-colorize
/screenshot
/semi-flatten
/sharpen
/shift
/sinus
/smooth-palette
/softglow
/sparkle
/sphere-designer
/threshold-alpha
/tile
/tile-glass
/tile-paper
/tile-seamless
/tile-small
/unit-editor
/unsharp-mask
/value-invert
/value-propagate
/van-gogh-lic
/video
/warp
/waves
/web-browser
/whirl-pinch
/wind
