/.deps
/.libs
/Makefile
/Makefile.in
/align-layers
/align-layers.exe
/animation-optimize
/animation-optimize.exe
/animation-play
/animation-play.exe
/blinds
/blinds.exe
/blur
/blur.exe
/border-average
/border-average.exe
/cartoon
/cartoon.exe
/checkerboard
/checkerboard.exe
/cml-explorer
/cml-explorer.exe
/color-cube-analyze
/color-cube-analyze.exe
/colorify
/colorify.exe
/colormap-remap
/colormap-remap.exe
/compose
/compose.exe
/contrast-normalize
/contrast-normalize.exe
/contrast-retinex
/contrast-retinex.exe
/crop-zealous
/crop-zealous.exe
/curve-bend
/curve-bend.exe
/decompose
/decompose.exe
/depth-merge
/depth-merge.exe
/despeckle
/despeckle.exe
/destripe
/destripe.exe
/edge-dog
/edge-dog.exe
/edge-neon
/edge-neon.exe
/emboss
/emboss.exe
/file-aa
/file-aa.exe
/file-cel
/file-cel.exe
/file-compressor
/file-compressor.exe
/file-csource
/file-csource.exe
/file-desktop-link
/file-desktop-link.exe
/file-dicom
/file-dicom.exe
/file-gbr
/file-gbr.exe
/file-gegl
/file-gegl.exe
/file-gif-load
/file-gif-load.exe
/file-gif-save
/file-gif-save.exe
/file-gih
/file-gih.exe
/file-glob
/file-glob.exe
/file-header
/file-header.exe
/file-heif
/file-heif.exe
/file-html-table
/file-html-table.exe
/file-jp2-load
/file-jp2-load.exe
/file-mng
/file-mng.exe
/file-pat
/file-pat.exe
/file-pcx
/file-pcx.exe
/file-pdf-load
/file-pdf-load.exe
/file-pdf-save
/file-pdf-save.exe
/file-pix
/file-pix.exe
/file-png
/file-png.exe
/file-pnm
/file-pnm.exe
/file-ps
/file-ps.exe
/file-psp
/file-psp.exe
/file-raw-data
/file-raw-data.exe
/file-sunras
/file-sunras.exe
/file-svg
/file-svg.exe
/file-tga
/file-tga.exe
/file-wmf
/file-wmf.exe
/file-xbm
/file-xbm.exe
/file-xmc
/file-xmc.exe
/file-xpm
/file-xpm.exe
/file-xwd
/file-xwd.exe
/film
/film.exe
/filter-pack
/filter-pack.exe
/fractal-trace
/fractal-trace.exe
/goat-exercise
/goat-exercise.exe
/gradient-map
/gradient-map.exe
/grid
/grid.exe
/guillotine
/guillotine.exe
/hot
/hot.exe
/jigsaw
/jigsaw.exe
/mail
/mail.exe
/max-rgb
/max-rgb.exe
/newsprint
/newsprint.exe
/nl-filter
/nl-filter.exe
/oilify
/oilify.exe
/photocopy
/photocopy.exe
/plugin-browser
/plugin-browser.exe
/procedure-browser
/procedure-browser.exe
/qbist
/qbist.exe
/sample-colorize
/sample-colorize.exe
/sharpen
/sharpen.exe
/smooth-palette
/smooth-palette.exe
/softglow
/softglow.exe
/sparkle
/sparkle.exe
/sphere-designer
/sphere-designer.exe
/tile
/tile.exe
/tile-small
/tile-small.exe
/unit-editor
/unit-editor.exe
/unsharp-mask
/unsharp-mask.exe
/van-gogh-lic
/van-gogh-lic.exe
/warp
/warp.exe
/wavelet-decompose
/wavelet-decompose.exe
/web-browser
/web-browser.exe
/web-page
/web-page.exe
