/.deps
/.libs
/Makefile
/Makefile.in
/alien-map
/alien-map.exe
/align-layers
/align-layers.exe
/animation-optimize
/animation-optimize.exe
/animation-play
/animation-play.exe
/antialias
/antialias.exe
/apply-canvas
/apply-canvas.exe
/blinds
/blinds.exe
/blur
/blur.exe
/blur-gauss
/blur-gauss.exe
/blur-gauss-selective
/blur-gauss-selective.exe
/blur-motion
/blur-motion.exe
/border-average
/border-average.exe
/bump-map
/bump-map.exe
/cartoon
/cartoon.exe
/channel-mixer
/channel-mixer.exe
/checkerboard
/checkerboard.exe
/cml-explorer
/cml-explorer.exe
/color-cube-analyze
/color-cube-analyze.exe
/color-enhance
/color-enhance.exe
/color-exchange
/color-exchange.exe
/color-to-alpha
/color-to-alpha.exe
/colorify
/colorify.exe
/colormap-remap
/colormap-remap.exe
/compose
/compose.exe
/contrast-normalize
/contrast-normalize.exe
/contrast-retinex
/contrast-retinex.exe
/contrast-stretch
/contrast-stretch.exe
/contrast-stretch-hsv
/contrast-stretch-hsv.exe
/convolution-matrix
/convolution-matrix.exe
/crop-auto
/crop-auto.exe
/crop-zealous
/crop-zealous.exe
/cubism
/cubism.exe
/curve-bend
/curve-bend.exe
/decompose
/decompose.exe
/deinterlace
/deinterlace.exe
/depth-merge
/depth-merge.exe
/despeckle
/despeckle.exe
/destripe
/destripe.exe
/diffraction
/diffraction.exe
/displace
/displace.exe
/edge
/edge.exe
/edge-dog
/edge-dog.exe
/edge-laplace
/edge-laplace.exe
/edge-neon
/edge-neon.exe
/edge-sobel
/edge-sobel.exe
/emboss
/emboss.exe
/engrave
/engrave.exe
/file-aa
/file-aa.exe
/file-cel
/file-cel.exe
/file-compressor
/file-compressor.exe
/file-csource
/file-csource.exe
/file-desktop-link
/file-desktop-link.exe
/file-dicom
/file-dicom.exe
/file-gbr
/file-gbr.exe
/file-gif-load
/file-gif-load.exe
/file-gif-save
/file-gif-save.exe
/file-gih
/file-gih.exe
/file-glob
/file-glob.exe
/file-header
/file-header.exe
/file-html-table
/file-html-table.exe
/file-jp2-load
/file-jp2-load.exe
/file-mng
/file-mng.exe
/file-pat
/file-pat.exe
/file-pcx
/file-pcx.exe
/file-pdf
/file-pdf.exe
/file-pix
/file-pix.exe
/file-png
/file-png.exe
/file-pnm
/file-pnm.exe
/file-ps
/file-ps.exe
/file-psp
/file-psp.exe
/file-raw
/file-raw.exe
/file-sunras
/file-sunras.exe
/file-svg
/file-svg.exe
/file-tga
/file-tga.exe
/file-tiff-load
/file-tiff-load.exe
/file-tiff-save
/file-tiff-save.exe
/file-wmf
/file-wmf.exe
/file-xbm
/file-xbm.exe
/file-xmc
/file-xmc.exe
/file-xpm
/file-xpm.exe
/file-xwd
/file-xwd.exe
/film
/film.exe
/filter-pack
/filter-pack.exe
/fractal-trace
/fractal-trace.exe
/gradient-map
/gradient-map.exe
/grid
/grid.exe
/guillotine
/guillotine.exe
/hot
/hot.exe
/illusion
/illusion.exe
/iwarp
/iwarp.exe
/jigsaw
/jigsaw.exe
/lcms
/lcms.exe
/lens-apply
/lens-apply.exe
/lens-distortion
/lens-distortion.exe
/lens-flare
/lens-flare.exe
/mail
/mail.exe
/max-rgb
/max-rgb.exe
/mosaic
/mosaic.exe
/newsprint
/newsprint.exe
/nl-filter
/nl-filter.exe
/noise-hsv
/noise-hsv.exe
/noise-randomize
/noise-randomize.exe
/noise-rgb
/noise-rgb.exe
/noise-solid
/noise-solid.exe
/noise-spread
/noise-spread.exe
/nova
/nova.exe
/oilify
/oilify.exe
/photocopy
/photocopy.exe
/pixelize
/pixelize.exe
/plasma
/plasma.exe
/plugin-browser
/plugin-browser.exe
/polar-coords
/polar-coords.exe
/procedure-browser
/procedure-browser.exe
/qbist
/qbist.exe
/red-eye-removal
/red-eye-removal.exe
/ripple
/ripple.exe
/rotate
/rotate.exe
/sample-colorize
/sample-colorize.exe
/screenshot
/screenshot.exe
/semi-flatten
/semi-flatten.exe
/sharpen
/sharpen.exe
/shift
/shift.exe
/sinus
/sinus.exe
/smooth-palette
/smooth-palette.exe
/softglow
/softglow.exe
/sparkle
/sparkle.exe
/sphere-designer
/sphere-designer.exe
/threshold-alpha
/threshold-alpha.exe
/tile
/tile.exe
/tile-glass
/tile-glass.exe
/tile-paper
/tile-paper.exe
/tile-seamless
/tile-seamless.exe
/tile-small
/tile-small.exe
/unit-editor
/unit-editor.exe
/unsharp-mask
/unsharp-mask.exe
/value-invert
/value-invert.exe
/value-propagate
/value-propagate.exe
/van-gogh-lic
/van-gogh-lic.exe
/video
/video.exe
/warp
/warp.exe
/waves
/waves.exe
/web-browser
/web-browser.exe
/whirl-pinch
/whirl-pinch.exe
/wind
/wind.exe
