/Makefile
/Makefile.in
/.deps
/.libs
/kernelgen
/gimptool-2.0
/gimptool-2.0.exe
/gimp-test-clipboard-2.0
/gimp-test-clipboard-2.0.exe
/invert-svg
/invert-svg.exe
/compute-svg-viewbox
/compute-svg-viewbox.exe
