/Makefile
/Makefile.in
/.deps
/.libs
/kernelgen
/ligmatool-2.99
/ligmatool-2.99.exe
/ligma-test-clipboard-2.99
/ligma-test-clipboard-2.99.exe
/ligma-debug-resume.exe
/compute-svg-viewbox
/compute-svg-viewbox.exe
