.deps
.libs
/ligmadir-output
Makefile
Makefile.in
libligmaapptestutils.a
test-core*
test-ligmaidtable*
test-ligmatilebackendtilemanager*
test-layer-grouping*
test-save-and-export*
test-session-2-8-compatibility-multi-window*
test-session-2-8-compatibility-single-window*
test-single-window-mode*
test-tools*
test-ui*
test-window-management*
test-xcf*
/*.trs
/*.log
/ligma-test-icon-theme
