.deps
.libs
/gimpdir-output
Makefile
Makefile.in
libgimpapptestutils.a
test-core*
test-layer-grouping*
test-save-and-export*
test-session-management*
test-tools*
test-ui*
test-window-management*
test-xcf*
