/* The specific light theme interface styles for GIMP 3.0 */
/* Theme specific colors are defined in gimp-dark.css */

/* Hint for debugging themes:
 * first enable the GTK inspector with
   gsettings set org.gtk.Settings.Debug enable-inspector-keybinding true
 * then (after restarting GIMP) call it up with ctrl+shift+i
 * or from GIMP's UI: File > Debug > Start GtkInspector
 */

@import url("common.css");

/* Highlight icons in Grid View when hovered over */
iconview:hover {
  background-color: @fg-color;
}

/*
 * Paned separator handles
 */
paned.horizontal > separator {
  background-image: url("ui/separator-handle-v-dark.svg");
}

paned.vertical > separator {
  background-image: url("ui/separator-handle-h-dark.svg");
}

/* Top highlight for buttons */
button:not(.flat) {
  box-shadow: 0 1px @extreme-selected-color inset;
}
button:not(.flat):hover {
  box-shadow: none;
}

/* Define GimpSpinScale slider colors */
GimpSpinScale entry {
  background-color: @widget-bg-color;
}

GimpSpinScale entry progress {
  background-color: @hover-color;
}

/* progressbar color */
progressbar trough progress {
  background-color: @hover-color;
}
