/Makefile.in
/Makefile
/org.gimp.GIMP.appdata.xml.in
/org.gimp.GIMP.appdata.xml
/gimp.desktop.in
/gimp.desktop
/gimp-data-extras.metainfo.xml.in
/gimp-data-extras.metainfo.xml
/test-appdata.sh
/.thumbnails
